<div class="jumbotron"><h2 id='title'>Where should we eat today?</h2></div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      {{#if isFinals}}<li>{{#link-to 'finals'}}Enter Finals{{/link-to}}</li>{{/if}}
      {{#if isVoting}}<li><a href="#" {{action 'vote'}}>Submit Vote</a></li>{{else}}<li>{{#link-to 'votes'}}Vote{{/link-to}}</li>{{/if}}
      <li>{{#link-to 'results'}}Results{{/link-to}}</li>
      <li>{{#link-to 'restaurant'}}Add a Restaurant{{/link-to}}</li>
      <li>{{#link-to 'update'}}Update Restaurants{{/link-to}}</li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

{{outlet}}

<div class = "footer">
  <div class="container">
    <button class="btn btn-sm" {{action "clearVotes"}}>Clear out all votes</button>
    <button class="btn btn-group-lg" {{action "beginFinals"}}> Start the finals!</button>
  </div>
</div>
