{{#if model}}

  <h4>Results</h4>
  <table class="table">
        <thead>
        <th>Name</th><th>Menu</th><th>Votes</th>
        </thead>
        <tbody>
        {{#each arrangedContent}}
            <tr>
                <td>{{name}}</td>
                <td><a {{bind-attr href=menu}}>{{menu}}</a></td>
                <td>{{votes}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
  <button class="btn btn-sm" {{action "clearVotes"}}>Clear out all votes</button>
  <button class="btn btn-group-lg" {{action "beginFinals"}}> Start the finals!</button>
{{/if}}