{{#if model}}
    <table class="table">
        <thead>
        <th>Name</th><th>Menu</th><th>Visited</th><th>Visited?</th><th>Remove Restaurant</th>
        </thead>
        <tbody>
        {{#each}}
            <tr>
                <td>{{this.name}}</td>
                <td>
			<form {{action "updateMenu" this on="submit"}}>
              		{{input type="text" value=this.menu}}</form>
		</td>
                <td>{{#if visited}}<span class="visited">Yes</span>{{else}}<span class="not-visited">No</span>{{/if}}</td>
                <td><button class="btn btn-sm" {{action 'toggleVisited' this}}>Toggle Visited</button></td>
                <td><button class="btn btn-sm" {{action 'deleteRestaurant' this}}>Delete Restaurant</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Sorry no fixtures found for restaurants</p>
{{/if}}
