{{#if model}}
    <table class="table table-striped">
        <thead>
        <th>Name</th><th>Menu</th><th>Votes</th><th>Vote</th>
        </thead>
        <tbody>
        {{#each}}
            <tr>
                <td>{{this.name}}</td>
                <td><a {{bind-attr href=this.menu}}>{{this.menu}}</a></td>
                <td>{{this.votes}}</td>
                <td>{{check-box action='checked' itemId=this.id}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Sorry no fixtures found for restaurants</p>
{{/if}}